In [1]:
 name = 'anthony'

In [2]:
name

'anthony'

In [3]:
type (name)

str

In [20]:
a+b

NameError: name 'a' is not defined

In [11]:
x='hello world'

In [12]:
x.upper ()

'HELLO WORLD'

In [16]:
x.split()

['HELLO', 'WORLD']

In [18]:
x.split(0)

TypeError: must be str or None, not int

In [23]:
my_name = 'kushal'
print ('hello my name is '+ my_name)

hello my name is kushal

In [24]:
#format methods

In [25]:
#'string here ()()()',format(something1)(something2)(something3)

In [26]:
print ('i am stuident of (),'medhavi skills university))

SyntaxError: invalid syntax (305889027.py, line 1)

In [31]:
print ('the {q} {b} {f}'.format(b='brown',f='fox',q='quick'))

the quick brown fox